@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.dmsansregular{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.dmsansmedium{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
.dmsanssemi{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}

.dmsansbold{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;

}

.bg1{
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(25px);
}
.bg2{
  background: rgba(217, 224, 236, 0.20);
  backdrop-filter: blur(25px);
}